---
import Page from "../components/Page.astro";
import SiteHeader from "../components/SiteHeader.astro";

const title = "Geaux Brand Strategy";
const description = "Website and blog for the Brand Strategy Sprint with Scott Galloway and Section 4";
---

<Page {title} {description}>
    <SiteHeader />

    <div class="flex justify-center">
        <div class="text-lg w-5/6 lg:w-3/4">
            <h1 class="my-6 font-bold">
                {description}
            </h1>
            <img src="/public/assets/img/brandstrategysprint.png" alt="Brand Strategy Sprint" class="w-full" />
            <p class="my-6">
                This website includes a blog that follows my experience with the Brand Strategy sprint and also my sprint workflow for getting things done. The site was built with the <a href="https://astro.buil">Astro framework</a> and styled with<a
                    href="https://tailwindcss.com/"
                    class="underline underline-offset-2">Tailwind CSS</a
                >.
            </p>
            <p class="my-6">
                The site also includes a contact form so you can reach me, an about page to explain the purpose of this site, a sprint page that includes my sprint workflow and reflections, docs for technical documentation of the site, and finally, a blog.
            </p>
    
        </div>
    </div>
</Page>
