<header class="font-sans text-zinc-700 text-lg">
        <div class="navbar columns-3 pl-20 shadow-xl bg-cyan-100">
            <div class="flex-1">
                <a href="/">
                    <img
            class="h-24 my-2"
            src="/assets/logo.svg"
            alt="GeauxWeisbeck4 Section 4 Sprints Logo"
                    />
                </a>
            </div>
            <div class="flex-none">
                <nav class="flex justify-center mt-6 mb-12 space-x-10 pr-6 text-2xl">
                    <a class="mx-1 underline decoration-4 underline-offset-8  font-semibold hover:decoration-wavy hover:text-sky-600 hover:font-extrabold" href="/"> Home</a>
                    <a class="mx-1 underline decoration-4 underline-offset-8  font-semibold  hover:decoration-wavy hover:text-sky-600 hover:font-extrabold" href="/blog"> Blog</a>
                    <a class="mx-1 underline decoration-4 underline-offset-8  font-semibold hover:decoration-wavy hover:text-sky-600 hover:font-extrabold" href="/doc"> Doc</a>
                    <a class="mx-1 underline decoration-4 underline-offset-8  font-semibold hover:decoration-wavy hover:text-sky-600  hover:font-extrabold" href="/about"> About</a>
                    <a class="mx-1 underline decoration-4 underline-offset-8  font-semibold hover:decoration-wavy hover:text-sky-600 hover:font-extrabold" href="/rss.xml"> RSS</a>
                    <a class="mx-1 underline decoration-4 underline-offset-8  font-semibold hover:decoration-wavy hover:text-sky-600 hover:font-extrabold" href="/search"> Search</a>
                    <button class="btn btn-active btn-secondary  hover:btn-primary">Contact Me</button>
                </nav>
            </div>

        </div>
</header>
